<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Alex's Questions</title>
        <link rel="stylesheet" href="style.css" />
        <script type="module">
            import { createApp } from "https://unpkg.com/petite-vue?module";

            const API_URL =
                //"https://us-central-alexs-questions.cloudfunctions.net";
                "http://localhost:5001/alexs-questions/us-central1";

            createApp({
                name: "Poll",
                pollData: {
                    answer: null,
                },
                results: null,
                mounted() {
                    if (!localStorage.getItem("pollData")) {
                        this.save();
                    }
                    const parsedPollData = JSON.parse(
                        localStorage.getItem("pollData")
                    );
                    this.pollData = parsedPollData;
                },
                answer(ans) {
                    if (
                        !["ring", "dog", "both"].includes(ans) ||
                        !this.results ||
                        this.pollData.answer === ans
                    ) {
                        return;
                    }
                    if (!this.pollData.answer) {
                        fetch(`${API_URL}/answer?id=${this.results.id}`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({ answser: ans }),
                        })
                            .then(() => {
                                this.save();
                                this.fetchData();
                            })
                            .catch((err) => console.error("Error:", err));
                    } else {
                        fetch(`${API_URL}/changeAnswer?id=${this.results.id}`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                from: this.pollData.answer,
                                to: ans,
                            }),
                        })
                            .then(() => {
                                this.save();
                                this.fetchData();
                            })
                            .catch((err) => console.error("Error:", err));
                    }
                    this.pollData.answer = ans;
                },
                save() {
                    const stringPollData = JSON.stringify(this.pollData);
                    localStorage.setItem("pollData", stringPollData);
                },
                fetchData() {
                    fetch(`${API_URL}/getResults`)
                        .then((res) => res.json())
                        .then((data) => {
                            this.results = data;
                        })
                        .catch((err) => console.error("Error:", err));
                },
                get firstAnswer() {
                    if (!this.results?.answers) {
                        return "";
                    }
                    return Object.keys(this.results.answers)[0];
                },
                get secondAnswer() {
                    if (!this.results?.answers) {
                        return "";
                    }
                    return Object.keys(this.results.answers)[1];
                },
                capitalize(str) {
                    str = str.toString();
                    if (str.length <= 0) {
                        return str;
                    }
                    return str[0].toUpperCase() + str.slice(1);
                },
            }).mount();
        </script>
    </head>
    <body>
        <div v-scope v-effect="fetchData()" @vue:mounted="mounted">
            <div class="poll-container" v-if="results">
                <div class="poll-box">
                    <h1 class="poll-name">{{ results.name }}</h1>
                    <p class="poll-description">{{ results.description }}</p>
                    <div class="answers-container">
                        <div class="answer-row">
                            <button
                                v-if="firstAnswer === pollData.answer"
                                class="answer-container selected"
                            >
                                <div>{{ capitalize(firstAnswer) }}</div>
                                <div>{{ results.answers[firstAnswer] }}</div>
                            </button>
                            <button
                                v-else
                                class="answer-container"
                                @click="answer(firstAnswer)"
                            >
                                {{ capitalize(firstAnswer) }}
                            </button>
                            <button
                                v-if="secondAnswer === pollData.answer"
                                class="answer-container selected"
                            >
                                {{ capitalize(secondAnswer) }}
                            </button>
                            <button
                                v-else
                                class="answer-container"
                                @click="answer(secondAnswer)"
                            >
                                {{ capitalize(secondAnswer) }}
                            </button>
                        </div>
                        <button
                            v-if="'both' === pollData.answer"
                            class="answer-container selected"
                        >
                            Both
                        </button>
                        <button
                            v-else
                            class="answer-container"
                            @click="answer('both')"
                        >
                            Both
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
