.poll-container {
    width: 100%;
    height: 100%;
    background: black;
}

.poll-name {
    background: red;
}

button.selected {
}

/*
 *
 *
❯ curl "http://localhost:5001/alexs-questions/us-central1/createPoll" -X "POST" -H "Content-Type: application/
json" -d '{"name": "Ring or Dog", "description": "When Natalie gets into PA school, should I get her a ring or
 a dog?", "slug": "ring-or-dog", "closesAt": {"_seconds":1693540800,"_nanoseconds":463000000}, "answers": {"ri
ng": 0, "dog": 0, "both": 0}}'
 *
 *
 */
