.main {
    display: flex;
    height: 100vh;
}

.pollBox {
    width: 500px;
    text-align: center;
    margin: auto;
}

.pollName {
    font-weight: 400;
    margin-bottom: 10px;
}

.pollDescription {
    margin-bottom: 20px;
}

.answersContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    translate: calc(-1 * var(--button-spacing)) 0;
    grid-gap: calc(var(--button-spacing) * 2);
}

.answerButton {
    all: unset;
    cursor: pointer;
    border: 1px solid #0077b6;
    background: #6b7fd750;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    height: 100px;
    transition: all 0.15s ease;
}

.answerButton:nth-child(odd):last-child {
    grid-column: 1 / 3;
}

.answerButton:not(.selected):hover {
    border-color: #03045e;
    background: #6b7fd775;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}

.answerButton.selected {
    border-color: #03045e;
    background: #6b7fd775;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}

.answerStats {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.votes {
    margin-right: 10px;
}

.percentage {
    background: #f0f0f0;
    height: 15px;
    width: 150px;
    margin-right: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.percentageFill {
    background: #1155ff;
    height: 15px;
    border-radius: 10px;
    width: 0%;
    transition: all 0.5s ease;
}

.percentageText {
    margin-top: 1px;
}

@media (max-width: 600px) {
    .pollBox {
        width: 350px;
    }

    .answerStats {
        flex-wrap: wrap;
    }
}

@media (max-width: 400px) {
    .pollBox {
        width: 250px;
    }
}
